@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}

/* shared styles  */
.display-flex{
    display: flex;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.dark-4{
    color: #A1A1A1;
}
.dark-5{
    color: #D0D0D0;
}
.dark-6{
    color: #E7E7E7;
}
.dark-7{
    color:#F3F3F3;
}
.btn-color{
    background-color: rgba(255, 144, 14, 1)
}
.btn-text{
    color: rgba(255, 255, 255, 1);
}
.shared-des{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}
.shared-title{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0%;
    line-height: 100%;
    text-align: left;
}
/* header styles */
header{
    max-width: 1920px;
    height: 1057.6px;
    margin: 0px auto;
    background: rgba(255, 144, 14, 0.1);
}
/* nav-bar styles */
.navbar{
    max-width: 1920px;
    height: 50px;
    margin: 0px auto;
    text-align: center;
    gap: 400px; 
}
.nav-title{
    width: 245px;
    height: 42px;
    margin: 40px 192px 0px 320px;
    font-size: 36px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.navbar .links{
    width: 381.6px;
    height: 20.8px;
    justify-content: space-between;
    margin: 50px 192px 0px 0px;
    
}
.navbar .link{
    list-style: none;
}
.navbar .link a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 20.8px;
    letter-spacing: 0%;
    text-align: center;
}
.banner{
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.banner-title-blog{
    width: 690px;
    height: 180px;
    margin: 82px 423px 0px 423px;
    text-align: center;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    margin-bottom: 26px;
}
.banner-title{
width: 690px;
height: 180px;
font-size: 51px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
}
.banner-describtion{
    width: 695px;
    height: 42px;
}
.banner-button{
    width: 144px;
    height: 52px;
    margin: 0px 696px;
    border: none;
    margin-bottom: 36px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}     
.banner-img{
    width: 1152px;
    height: 560px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 4px 192px 3px;
}   
/* responsive nav  */
@media screen and (max-width: 576px) {
    .shared-des{
        font-size: 5px;
        line-height: 7px;
    }
    .header{
        max-width: 576px;
        height: 370px;
    }
    .navbar{
        gap: 188px; 
    }
    .nav-title{
        width: 86px;
        height: 15px;
        margin: 14px 0px 0px 62px;
        font-size: 13px;
    }
    .navbar .links{
        width: 134px;
        height: 7px;
        margin: 18px 67px 0px 0px;
        
    }
    .navbar .link a{
        font-size: 5px;
        line-height: 7px;

    }
    .banner-title-blog{
        width: 242px;
        height: 63px;
        margin: 29px 148px 0px 148px;
        margin-bottom: 9px;
    }
    .banner-title{
    width: 242px;
    height: 63px;
    font-size: 18px;
    }
    .banner-describtion{
        width: 243px;
        height: 15px;
    }
    .banner-button{
        width: 50px;
        height: 18px;
        margin: 0px 244px;
        margin-bottom: 13px;
    }     
    .banner-img{
        width: 100%;
        height: 196px;   
    }
}
/* main style  */
main{
    max-width: 1440px;
    margin: 0px auto;
    height: 600px;
    margin-bottom: 104px;
}
.features-quick{
    gap: 58px;
    margin-top: 68px;
    justify-content: center;
    align-items: center;
}
.quick-image{
    width: 566px;
    height: 566px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}
.quick-image img{
    width: 274px;
    height: 274px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.quick-info{
    width: 430px;
    height: 243px;
    justify-content: flex-start;
    flex-direction: column;
    gap: 26px;
}
.quick-title,
#title-part-2,
#title-part-3{
    width: 374px;
    height: 85px;
    font-size: 2.8rem;
}
#title-part-3{
    color: #FF900E;
    font-weight: 700;
}
#title-part-2{
    font-weight: 700;
}
.quick-des{
    width: 430px;
    height: 65px;
    text-align: left;
    font-size: 0.5rem;
}
.quick-button{
    width: 144px;
    height: 51px;
    border: none;
}
/* responsive quick features  */
@media screen and (max-width: 576px){
    .features-quick{
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
        align-self: center;
        margin-top: 24px;
        /* height: 2000px;   */
    }
    .quick-image{
        grid-template-columns: 1fr;
        place-items: center;
    }
    .quick-info{
        margin-top: 550px;
        padding-left: 24px;
    }
    .quick-des{
        width: 75%;
        height: 25px;
        
    }
    .info-btn{
        margin-top: 0px;
    }
}
/* love-features styles  */
.love-features{
    max-width: 1152px;
    height: 847px;
    margin: 0 auto;
    margin-top: 83px;
    border: 2px solid red;
    display: none;
}
.love-info{
    width: 469px;
    height: 770px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.love-info-des{
    height: 62px;
    font-size: 1rem;
    line-height: 1.6rem;
    /* margin-bottom: px; */
    text-align: left;

}
.love-info-cards{
    height: 595px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 25px;
    gap: 5px;
}
.love-info-cards .card{
    height: 137px;
    margin-top: 24px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    
    /* box-shadow: rgba(255, 255, 255, 1); */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 32px;
    gap: 16px;

    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    /* margin-bottom: 16px; */
}

.love-info-cards .card .card-title{
    height: 18px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.card-des{
    height: 62px;
    text-align: left;
}
.love-image{
    position: relative;
    width: 640px;
    height: 847px;
   
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-image: url(../images/architect.png);
    background-position: top right, bottom right;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid red;
}
.love-image .love-profile{
    /* background-image: url(../images/architect.png); */
    width: 566px;
    height: 786px;
    background-position: top right, bottom right;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.love-profile{
    position: absolute;
    z-index: 1;
    top: 200px;
}
.love-btn{
    position: absolute;
    z-index: 2;
    width: 274px;
    height: 160px;
    padding: 150px;
    
    
}
.love-experience{
    padding: 15px;
    margin-left: 10px;
    text-align: center;
    /* width: 206px;
    height: 87px; */
    
    /* margin: 36px 34px; */
}
#Experience-title,
#Experience-year{
    color: #FFFFFF;
}
#Experience-year{
    font-size: 4rem;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
}
#Experience-title{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}

/* Facts section styles  */
.facts{
    max-width: 1112px;
    height: 377px;
    margin: 0px auto;
    margin-top: 104px;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    /* border: 2px solid red; */
    gap: 80px;
}
.facts-info{
    width: 434px;
    height: 103px;
    flex-direction: column;
    gap: 26px;
}
.facts-title{
    width: 207px;
    height: 36px;
    /* margin-bottom: 26px; */
}
.facts-des{
    width: 433px;
    height: 42px;
    text-align: left;
}
.facts-cards{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: end;
    gap: 99px;
}
.card-container{
    width: 193px;
    height: 193px;
    border: 1px solid #FF900E;
}
.card{
    margin: 37px 32px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.card > img{
    height: 36px;
    width: 36px;
}
.card .counts{
    width: 83px;
    height: 43px;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.card .card-title{
    width: 128px;
    height: 19px;
}

/* responsive facts and card  */
@media screen and (max-width: 576px){
    .facts{
        justify-content: center;
        align-items: center;
        margin-top: 450px;
        gap: 20px;
    }
    .facts-cards{
        grid-template-columns: 1fr;
    }
    .facts-cards{
        gap: 40px;
    }
}
